@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="text-center pt-2">
            <h1>Azure Cognitive Search</h1>
            <h4>Demo</h4>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
